<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Fioware Studios</string>
	<key>Builder Version</key>
	<string>11601.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>Glacier</string>
	<key>CFBundleIdentifier</key>
	<string>com.fioware.glacier</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>5242880</integer>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popovers/add-bookmark.html</string>
				<key>Height</key>
				<integer>300</integer>
				<key>Identifier</key>
				<string>add-bookmark-popover</string>
				<key>Width</key>
				<integer>250</integer>
			</dict>
			<dict>
				<key>Filename</key>
				<string>popovers/glacier.html</string>
				<key>Height</key>
				<integer>300</integer>
				<key>Identifier</key>
				<string>glacier-popover</string>
				<key>Width</key>
				<integer>300</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>add-bookmark</string>
				<key>Image</key>
				<string>assets/icon-add.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Add Bookmark</string>
				<key>Palette Label</key>
				<string>Add Bookmark</string>
				<key>Popover</key>
				<string>add-bookmark-popover</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>menu-item</string>
				<key>Image</key>
				<string>assets/icon-glacier.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Glacier</string>
				<key>Palette Label</key>
				<string>Glacier</string>
				<key>Popover</key>
				<string>glacier-popover</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>A tiny bookmark manager for Safari</string>
	<key>DeveloperIdentifier</key>
	<string>M48DDM3P94</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Update Manifest URL</key>
	<string>http://fioware.com/glacier/update.plist</string>
	<key>Website</key>
	<string>http://fioware.com/glacier</string>
</dict>
</plist>
